name: Ejecutar bot de descuentos

on:
  schedule:
    - cron: "0 16 * * *"  # Se ejecutará a las 16:00 UTC todos los días
  workflow_dispatch:  # Permite ejecutarlo manualmente

jobs:
  run-bot:
    runs-on: ubuntu-latest

    env:
      EMAIL_USER: ${{ secrets.EMAIL_USER }}
      EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
      NOTIFY_EMAIL: ${{ secrets.NOTIFY_EMAIL }}
      

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20  # Usa Node 20

      - name: Instalar dependencias
        run: npm install

      - name: Ejecutar el bot
        run: node checkDiscount.js
